@import "tailwindcss";

/* 
IMPORTANT: for some practical reasons i prefer using snake case instead of kebab case in css naming, but only because i am working just myself on this project, if i would have been in a team i would have followed conventions of css or those one established by team   
*/

* {
  font-family: "Inter";
}

:root {
  --blue__0: #a9c5f1;
  --blue__1: #015aff;

  --yell__0: #f4f1d2;

  --black__0: #0d1e26;
  --black__1: #060f13;
}

html {
  background: var(--black__1);
  scroll-behavior: smooth;
}

/* TEXT */
.txt__h_0 {
  @apply text-[32px];
}
.txt___h_1 {
  @apply text-[40px];
}
.txt__h_2 {
  @apply text-[48px];
}

.txt__h_0 .txt___h_1 .txt__h_2 {
  @apply leading-[140%] tracking-[0];
}

.txt__b_0 {
  @apply text-[16px];
}

.txt__btn_0 {
  @apply text-[18px];
}

.txt__b_0,
.txt__btn_0 {
  @apply leading-[180%] tracking-[0];
}

/* UTILS */
.txt__blue_0 {
  color: var(--blue__0);
}
.txt__yell_0 {
  color: var(--yell__0);
}
.bg__blue_1 {
  background: var(--blue__1);
}
.bg__black_0 {
  background: var(--black__0);
}
.padding__app {
  @apply px-[16px] sm:px-[64px] xl:px-[128px];
}

.btn__app {
  transition: 0.3s;
}
.btn__app:hover {
  transform: scale(1.15);
}
.btn__app:active {
  transition: 0.1s;
  transform: scale(0.9);
}
